* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(238,243,254,255);
}

.container {
    /* width: 1366px;
    margin: 0 auto; */
    height: 100vh;
    display: flex;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background-color: rgba(248,243,255,255);
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 100%;
}

.toprow, .daprtment, .information, .occupancy, .revenue, .calendar, .bookings, .messages {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toprow {
    background-color: blueviolet;
    grid-column: 1/4;
}

.daprtment {
    background-color: coral;
}

.information {
    background-color: darkgoldenrod;
}

.occupancy {
    background-color: darkorange;
}

.revenue {
    background-color: darkslategray;
    grid-column: 1/3;
}

.calendar {
    background-color: firebrick;
}

.bookings {
    background-color: fuchsia;
    grid-column: 1/3;
}

.messages {
    background-color: hotpink;
}