* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(238,243,254,255);
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: rgba(248,243,255,255);
    border-radius: 0px 30px 30px 0px;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 100%;
    column-gap: 15px;
    row-gap: 15px;
    margin-left: 30px;
}

.toprow, .daprtment, .information, .occupancy, .revenue, .calendar, .bookings, .messages {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toprow {
    grid-column: 1/4;
}

.daprtment {
    background-color: rgba(248,243,255,255);
    border-radius: 50px;
}

.information {
    background-color: rgba(248,243,255,255);
    border-radius: 50px;
}

.occupancy {
    background-color: rgba(248,243,255,255);
    border-radius: 50px;
}

.revenue {
    background-color: rgba(248,243,255,255);
    grid-column: 1/3;
    border-radius: 50px;
}

.calendar {
    background-color: rgba(248,243,255,255);
    border-radius: 50px;
}

.bookings {
    grid-column: 1/3;
}

.messages {
    background-color: rgba(248,243,255,255);
    border-radius: 50px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.logo p {
    color: rgba(162,115,255,255);
    font-size: 22px;
    font-weight: 700;
}

.logo_img {
    width: 70px;
}

.navitem {
    display: flex;
    align-content: center;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    padding-left: 36px;
    height: 50px;
    padding-top: 17px;
    cursor: pointer;
    transition: all .2s;
    border-left: 3px solid transparent;
}

.navitem:hover {
    background-color: #f5f3f8;
    color: #a273ff;
    border-left: 3px solid #a273ff;
}

.navitem i {
    margin-right: 25px;
}

.icon {
    font-size: 18px;
}

.team_navitem_text {
    margin-left: -6px;
}

.stat_navitem_text {
    margin-left: -2px;
}

.dashboar_navitem_text {
    margin-left: -2px;
}